
<% @entries.each do |entry| %>
  <a href="/bloggers/<%= entry.author_id %>/entries/<%= entry.id %>"><h1><%= entry.title %></h1></a>
  <a href="#"><h4><%= entry.author_name %></h4></a>
  <hr>
  <%= entry.summarize.html_safe %>
  <a href="/bloggers/<%= entry.author_id %>/entries/<%= entry.id %>">...read more</a>
  <hr>
  <br>
<% end %>
