
<% @entries.each do |entry| %>
  <a href="/bloggers/<%= entry.author_slug %>/entries/<%= entry.slug %>"><h1><%= entry.title %></h1></a>

<h4>
  <a href="/bloggers/<%= entry.author_slug %>">
    <%= entry.author_name %>
  </a>
</h4>
  


  <hr>
  <%= entry.summarize.html_safe if entry.summarize %>
  <a href="/bloggers/<%= entry.author_slug %>/entries/<%= entry.slug %>">...read more</a>
  <hr>
  <br>
<% end %>
