Hi, <%= @subscriber.first_name %>

This week's issue of the Flatiron Magazine is here.

    <% @new_entries.each do |entry| %>
  <%= entry.title %> written by <%= entry.author_name %>
    www.magazine.flatironschool.com/<%= entry.slug %>

    <% end %>

- Flatiron School
http://flatironschool.com/


<a href="http://192.168.2.87:8080/unsubscribe/<%=@subscriber.hex_key%>">Unsubscribe</a>


