<%= render 'partials/watermarks' %>

<div class="entry" >
<h1><%= @entry.title %></h1>

<a href="/users/<%= current_user.id %>/bloggers/<%= @blogger.slug%>">
 <h4> <%= @blogger.name %> : <small class="twitter_handle"><%= @entry.twitter_handle %></small></h4>
</a>

<% if @entry.added? == false %>
  <button type="button" class="btn btn-success publish" data-entry-slug="<%= @entry.slug %>">Publish</button>
  <button type="button" class="btn btn-info btn-sm tweet" data-entry-slug="<%= @entry.slug %>">Tweet</button>
<% elsif @entry.added? == true %>
  <button type="button" class="btn btn-warning published">Published</button>
  <button type="button" class="btn btn-info btn-sm tweet" data-entry-slug="<%= @entry.slug %>">Tweet</button>
<% end %><br /><br />

Add Tags: 
<div class="tags-list">
  <% @entry.entries_tags.each do |entry_tag| %>
    <% if entry_tag.visible == false %>
      <button type="button" class="btn btn-primary btn-sm tag" data-entry-id="<%= @entry.id %>" data-entry-tag-id="<%= entry_tag.tag.id %>"><%= entry_tag.tag.display_word_or_word %></button>
    <% elsif entry_tag.visible == true %>
        <a href="/users/<%= current_user.id %>/entries/<%= entry_tag.tag.slug %>">
          <button type="button" class="btn btn-warning btn-sm published" data-user-id="<%= current_user.id %>" data-entry-id="<%= @entry.id %>" data-tag-slug="<%= entry_tag.tag.slug %>"><%= entry_tag.tag.display_word_or_word %>
          </button>
        </a>
    <% end %>
  <% end %>
</div>
<br>
<%= form_tag '/tags/create', :class => 'tag-generate form-inline' do %>
  <div class="form-group">
    <input type="text" class="tag-word form-control" name="tag[word]" placeholder="Give it a custom tag">
    <input type="hidden" class="entry-name" name="tag[entry]" value="<%= @entry.id %>">
    <br><br>
    <input type="submit" value="Add Tag" class="tag-submit btn btn-primary">
  </div>
<% end %>

<br>
<a href="/users/<%= current_user.id %>/tags">Edit Tags</a>
<hr>
<%= @entry.content.html_safe %>
<hr>
<br>