<%= render 'partials/watermarks' %>
<%= render 'admin_header' %>
<div class="full_content">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1 style="color:#e74c3c"><%= @blogger.name %></h1>

      <span>
        Semester: 
        <strong>
          <%= @blogger.semester %>
        </strong>
        Posts: 
        <strong>
          <%= @blogger.entries.count%>
        </strong>
      </span><br \>
      <span class="label">
        <a href="<%= @blogger.feed_url %>" target="_blank">
          <%= @blogger.feed_url %>
        </a>
      </span><br>
      <%= render 'entry_content' %>
    </div>
  </div>
</div>
