<%= form_tag(users_path) do  %>
  Name:  <%= text_field_tag :name %><br><br>
  Email:  <%= text_field_tag :email %><br><br>
  Password:  <%= text_field_tag :password %><br><br>
  Confirm Password:  <%= text_field_tag :password_confirmation %><br><br>
  <%= submit_tag "create yo'self" %><br>
<% end %>
<br>
<a href="/login">Have an account?</a>
<br>
<br>
