<h1> Welcome <small><%= current_user.name %></small></h1>

<!-- <div id="notice" class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= notice %></strong> 
</div> -->
<%= render 'form' %>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @bloggers.count  %> Bloggers</h3>
  </div>
  <div class="panel-body">

    <div class="list-group" style="height:300px; overflow:auto;">
      <table class="table">
        <thead>
          <tr>
            <th>Semester</th>
            <th>Name</th>
            <th>Pubslished Posts</th>
          </tr>
        </thead>
        <tbody>
          <div id="tweets">
          <% @bloggers.each do |blogger| %>
            <tr>    
            <td id="semester"><%= blogger.semester %> </td>
            <td><a href="/bloggers/<%=blogger.slug%>"<td id="name"><%= blogger.name %></td></a>
              <td id="name"><%= blogger.published_entries %> / <%= blogger.entries.count %></td>
            </tr>
          </div>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h1><small>Recently Fetched Posts</small></h1>
<hr>
  <div class="recent-posts">
    <%= will_paginate @entries %>
    <% @entries.each do |entry| %>
    <div class="entry" >
      <a class="blogpost_url" href="/bloggers/<%= entry.author_slug %>/entries/<%= entry.slug %>">
          <h1><%= entry.title %></h1>
      </a>
      <h4><%= entry.author_name %> : <small class="twitter_handle"><%= entry.twitter_handle %></small></h4>
      <% if entry.added? == false %>
        <button type="button" class="btn btn-success publish" data-entry-slug="<%= entry.slug %>">Publish</button>
        <button type="button" class="btn btn-info btn-sm tweet" data-entry-slug="<%= entry.slug %>">Tweet</button>
      <% elsif entry.added? == true %>
        <button type="button" class="btn btn-warning">Published</button>
      <% end %><br /><br />
      Add Tags: 
      <% entry.entries_tags.each do |entry_tag| %>
        <% if entry_tag.visible == false %>
          <button type="button" class="btn btn-primary btn-sm tag" data-entry-id="<%= entry.id %>" data-entry-tag-id="<%= entry_tag.tag.id %>"><%= entry_tag.tag.display_word_or_word %></button>
        <% elsif entry_tag.visible == true %>
            <button type="button" class="btn btn-warning btn-sm tag" data-entry-id="<%= entry.id %>" data-entry-tag-id="<%= entry_tag.tag.id %>"><%= entry_tag.tag.display_word_or_word %></button>
        <% end %>
      <% end %>

      <hr>
      <%= entry.summarize.html_safe if entry.summarize %>
      <a href="/bloggers/<%= entry.author_slug %>/entries/<%= entry.slug %>">...read more</a>
      <hr>
      <br>
     </div> 
    <% end %>
  </div>



  
