<h1> Welcome <small><%= current_user.name %></small></h1>

<!-- <div id="notice" class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= notice %></strong> 
</div> -->
<%= render 'form' %>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bloggers</h3>
  </div>
  <div class="panel-body">

<!-- <select id="semester-select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select> -->

    <div class="list-group">
      <table class="table">
        <thead>
          <tr>
            <th>Semester</th>
            <th>Name</th>
            <th>Twitter</th>
          </tr>
        </thead>
        <tbody>
          <div id="tweets">
          <% @bloggers.each do |blogger| %>
            <tr>         
              <td id="semester"><%= blogger.semester %> </td>
              <td id="name"><%= blogger.name %></td>
              <td id="twitter_handle"><%= blogger.twitter_handle %> </td>
              <div>
            </tr>
          <div>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
  <h1><small>Recently Fetched Posts</small></h1>
<hr>
  <div class="recent-posts">
    <% @entries.each do |entry| %>
    <div class="entry" >
      <a class="blogpost_url" href="/bloggers/<%= entry.author_slug %>/entries/<%= entry.slug %>">
          <h1><%= entry.title %></h1>
      </a>
      <a href="#"><h4><%= entry.author_name %></h4></a>
      <% if entry.added? == false %>
        <button type="button" class="btn btn-success publish" data-entry-slug="<%= entry.slug %>">Publish</button>
        <button type="button" class="btn btn-success tweet" data-entry-slug="<%= entry.slug %>">Tweet</button>
      <% elsif entry.added? == true %>
        <button type="button" class="btn btn-warning">Published!</button>
      <% end %>
      
      <hr>
      <%= entry.summarize.html_safe if entry.summarize %>
      <a href="/bloggers/<%= entry.author_slug %>/entries/<%= entry.slug %>">...read more</a>
      <hr>
      <br>
     </div> 
    <% end %>
  </div>



  
