<h1> Welcome <small><%= current_user.name %></small></h1>

<!-- <div id="notice" class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= notice %></strong> 
</div> -->
<%= render 'form' %>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bloggers</h3>
  </div>
  <div class="panel-body">

<!-- <select id="semester-select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select> -->

    <div class="list-group">
      <table class="table">
        <thead>
          <tr>
            <th>Semester</th>
            <th>Name</th>
            <th>Published Posts</th>
          </tr>
        </thead>
        <tbody>
          <% @bloggers.each do |blogger|  %>
          <tr>
            <td><%= blogger.semester %> </td>
            <td><a href="/bloggers/<%=blogger.slug %>"><%= blogger.name %></a></td>
            <td><%= blogger.published_entries%> / <%= blogger.entries.count%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
  <h1><small>Recently Fetched Posts</small></h1>
<hr>
  <div class="recent-posts">
    <% @entries.each do |entry| %>

      <a href="/bloggers/<%= entry.author_slug %>/entries/<%= entry.slug %>">
          <h1><%= entry.title %></h1>
      </a>
      <a href="#"><h4><%= entry.author_name %></h4></a>
      <% if entry.added? == false %>
        <button type="button" class="btn btn-success publish" data-entry-slug="<%= entry.slug %>">Publish</button>
      <% elsif entry.added? == true %>
        <button type="button" class="btn btn-warning">Published</button>
      <% end %>
      <br/>
      <br>
      Add Tags: 
<!--       <%# entry.tags.each do |tag| %>
        <button type="button" class="btn btn-alert tag" data-entry-id="<%= entry.id %>" data-entry-tag-id="<%#= tag.id %>"><%#= tag.word %></button>
      <%# end %> -->

      <% entry.entries_tags.each do |entry_tag| %>

        <% if entry_tag.visible == false %>
          <button type="button" class="btn btn-primary btn-sm tag" data-entry-id="<%= entry.id %>" data-entry-tag-id="<%= entry_tag.tag.id %>"><%= entry_tag.tag.display_word_or_word %></button>
        <% elsif entry_tag.visible == true %>
            <button type="button" class="btn btn-warning btn-sm tag" data-entry-id="<%= entry.id %>" data-entry-tag-id="<%= entry_tag.tag.id %>"><%= entry_tag.tag.display_word_or_word %></button>
        <% end %>
      <% end %>
      <a href="/users/<%= current_user.id %>/tags">edit tags</a>
      <hr>
      <%= entry.summarize.html_safe if entry.summarize %>
      <a href="/bloggers/<%= entry.author_slug %>/entries/<%= entry.slug %>">...read more</a>
      <hr>
      <br>
    <% end %>
  </div>



  
