<%= render 'partials/watermarks' %>
<%= render 'admin_header' %>
<div class="forms-and-table-wrapper">


  <div class="three-col student-form-wrapper">
    <h2><small>Add a Student:</small></h2>
    <%= render 'student_form' %>
  </div>

  <div class="four-col student-table-wrapper">
    <h2><small>Edit Students:</small></h2>
    <div class="panel-and-heading">
      <div class="edit-students-title">
        <div style="float: left; margin-left: 5px; margin-right: 10px;">
          <select class="school-sessions-dropdown">
            <option 
              value="0" 
              data-session-slug="all"
              data-total-session-bloggers = "<%= @bloggers.count %>"
              data-total-session-entries = "<%= @entries.count %>">
              All
            </option>
            <% @school_sessions.each_with_index do |school_session, i| %>
              <option 
                value="<%= i + 1%>" 
                data-total-session-bloggers =  "<%= school_session.bloggers_count %>" 
                data-session-slug           =   "<%= school_session.slug %>"
                data-total-session-entries  =   "<%= school_session.entries_count %>">
                <%= school_session.name %>
              </option>
            <% end %>
            <option 
              value="<%= @school_sessions.count + 2%>" 
              data-session-slug="unassigned"
              data-total-session-bloggers = "<%= Entry.no_session_count %>"
              data-total-session-entries = "<%= Blogger.no_session_count %>">
              Unassigned
            </option>
          </select>
        </div>
        <div style="float: left;">
          <h4 class="panel-title"><%= @bloggers.count  %> Bloggers - <%= @entries.count %> Entries</h4>
        </div>
      </div>
      <%#= select "school_session", "name", SchoolSession.all.collect {|p| [ p.name, p.id ] } %> 
      <div class="panel-body">

        <div class="list-group">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Pubslished Entries</th>
              </tr>
            </thead>
            <tbody class="student-list">
              <div id="tweets">
                <% @bloggers.each do |blogger| %>
                  <tr class="<%= blogger.school_session_slug_or_placeholder %>">  
                  <td>
                    <a href="/users/bloggers/destroy/<%= blogger.slug %>">
                      <button class="btn btn-primary destroy-blogger" data-blogger-name="<%= blogger.name %>" data-blogger-slug="<%= blogger.slug %>">x
                      </button>
                    </a>
                  </td>  
                  <td>
                    <a href="/bloggers/<%= blogger.slug %>/edit">
                      <%= blogger.name %>
                    </a>
                  </td>
                  <td>
                    <%= blogger.published_entries %> / <%= blogger.entries.count %>
                  </td>
                  </tr>
                <% end %>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="three-col school-session-wrapper">
    <h2><small>Add a School Session:</small></h2>
    <%= render 'school_session_form' %>
  </div>

</div>


  
