<!DOCTYPE html>
<html>
<head>
  <title>Flatiron Magazine</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <div class="container"><br>
        <%= render 'partials/alerts'  %>
        
        <%= yield %>
      
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'modals/tweet' %>
    <%= render 'modals/login' %>
    <%= render 'modals/subscribe' %>
  </body>
</html>